

h1 {
    color: #f7b267;
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    margin-top: 20px;
    filter: contrast(1.2) brightness(1.1);
}


.nav-top-row {
    /*  background: linear-gradient(135deg, #5A5CCF, #7678ED, #A5A6F6); /* Mjuk gradient */
    background: linear-gradient(135deg, #0A192F, #1C3D5A, #4A7DB3);
    color: white;
    padding: 12px 25px;
    border-radius: 2px; /* Mjuka kanter för en mer elegant look */
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.3); /* Djup och lyft */
    transition: all 0.4s ease-in-out;
}
.nav-item:hover {
    color: #f7b267;
}

.nav-item.active {
    color: #f7b267;
}


.nav-item .btn-outline-light:hover {
    background: linear-gradient(45deg, #FFDF00, #FFD700, #FFC700, #DAA520);
    color: black;
      border-color: #F8C471;
        transform: scale(1.08);
}

.nav-item .btn-outline-light {
    border-color: white;
    color: white;
    padding: 8px 15px;
    border-radius: 8px;
    font-size: 1rem;
    transition: all 0.3s ease-in-out;
}

    
