@page "/"
@inject NavigationManager Navigation


<PageTitle>Home</PageTitle>

<header>
    <div class="hero-banner text-center py-4">
        <h2>Experience unforgettable moments</h2>
        <p>Find tickets to concerts, festivals, and more – only at Golden Ticket</p>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="card shadow-sm border-0 rounded-3">
                <div class="card-body">
                    <img src="/img/concert.jpg" alt="concert" class="img-fluid w-100 h-100 object-fit-cover" />
                    <button @onclick="() => NavigateToCategory(EventType.Concert)" class="btn btn-outline-dark">Concert</button>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="card shadow-sm border-0 rounded-3">
                <div class="card-body">
                    <img src="/img/festival.jpg" alt="festival" class="img-fluid w-100 h-100 object-fit-cover" />
                    <button @onclick="() => NavigateToCategory(EventType.Festival)" class="btn btn-outline-dark">Festival</button>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="card shadow-sm border-0 rounded-3">
                <div class="card-body">
                    <img src="/img/theatre.jpg" alt="theatre" class="img-fluid w-100 h-100 object-fit-cover" />
                    <button @onclick="() => NavigateToCategory(EventType.Theatre)" class="btn btn-outline-dark">Theatre</button>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="card shadow-sm border-0 rounded-3">
                <div class="card-body">
                    <img src="/img/foodmarket.jpg" alt="foodmarket" class="img-fluid w-100 h-100 object-fit-cover" />
                    <button @onclick="() => NavigateToCategory(EventType.Other)" class="btn btn-outline-dark">Other</button>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    public void NavigateToCategory(EventType category)
    {
        Navigation.NavigateTo($"/events/{category}");
    }

    public void NavigateToLogin()
    {
        Navigation.NavigateTo("/login");
    }

    private void NavigateToSignup()
    {
        Navigation.NavigateTo("/signup");
    }

    public enum EventType
    {
        Concert,
        Festival,
        Theatre,
        Other
    }
}
