.card {
    border: none;
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
}

.card-title {
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.card-text {
    font-weight: 700;
    font-size: 2rem;
    margin-top: 0.5rem;
}

.bg-total-bookings,
.bg-total-events,
.bg-total-tickets,
.bg-total-revenue {
    border-radius: 1rem;
}

.bg-total-bookings {
    background-color: #0D1F36;
}

.bg-total-events {
    background-color: #2A4E73;
}

.bg-total-tickets {
    background-color: #5A88B9;
}

.bg-total-revenue {
    background-color: #F8C35A;
}
.container-statistics {
    margin: 0 auto;
    margin-bottom: 2rem;
    padding: 2rem;
    color: #424b54;
    position: relative;
    overflow: hidden;
    text-align: center;
}

h1 {
    margin-bottom: 2rem;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}

@media (max-width: 768px) {
    h1 {
        font-size: 1.5rem;
    }
    .card-text {
        font-size: 1.5rem;
    }
}

