@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Web
@using TicketToCode.Core.Models;
@page "/booking/confirmation"
@inject HttpClient Http

@inject NavigationManager Navigation

<PageTitle>Confirmation</PageTitle>


<h1>Thank you for your booking!</h1>

<p>Your booking was successful.</p>



